@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap");

.header-wrapper {
   height: 10vh;
   border: 2px solid blue;
   width: 100%;
}

.title {
   font-family: "Open Sans Condensed", sans-serif;
   font-weight: normal;
   text-align: center;
   text-decoration: underline;
}
